:root {
  color-scheme: light;
  --color-dark: #0B0F19;
  --color-primary: #6366F1;
  --color-gray: #9397AD;
  --color-white: #FFFFFF;
  --color-border-gray: #E2E5F1;
  --color-gray700: #565973;
  --color-gray600: #9397AD;
  --color-gray800: #33354D;
  --color-gray100: #F3F6FF;
  --color-gray900: #0B0F19;
  --color-bg-featuer-icon: linear-gradient(0deg, rgba(99,102,241,1) 0%, rgba(153,87,240,1) 50%, rgba(217,70,239,1) 50%);
  --color-bg-light:var(var(--color-gray100));
  --color-bg-gray: var(--color-gray100);
  --container-padding: 1rem;
  --transition-time: all 0.25;
}
:root .show-light {
  display: block;
}
:root .show-dark {
  display: none;
}

.dark {
  color-scheme: dark;
  --color-dark: #0B0F19;
  --color-primary: #6366F1;
  --color-gray: #9397AD;
  --color-white: #FFFFFF;
  --color-border-gray: #E2E5F1;
  --color-gray700: #565973;
  --color-gray600: #9397AD;
  --color-gray800: #FFFFFF;
  --color-gray100: rgba(255, 255, 255, 0.05);
  --color-gray900: var(--color-white);
  --color-bg-featuer-icon: linear-gradient(0deg, rgba(99,102,241,1) 0%, rgba(153,87,240,1) 50%, rgba(217,70,239,1) 100%);
  --transition-time: all 0.25;
}
.dark .show-light {
  display: none;
}
.dark .show-dark {
  display: block;
}

#hero {
  background: rgb(99, 102, 241);
  background: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
  padding-bottom: 2rem;
  overflow: hidden;
}
#hero .container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-areas: "headline" "content";
  padding: 4rem;
  /*hero section For tablet*/
  /*hero section For desktop*/
}
@media (min-width: 768px) {
  #hero .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "headline headline" "content images";
  }
}
@media (min-width: 1400px) {
  #hero .container {
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "headline images" "content images";
  }
}
@media (min-width: 768px) {
  #hero {
    padding-bottom: 0;
  }
}
#hero .headline {
  grid-area: headline;
  text-align: center;
}
#hero .headline h1 {
  font-size: 34px;
  font-weight: 800;
  /*hero section For tablet*/
  /*hero section For desktop*/
}
@media (min-width: 768px) {
  #hero .headline h1 {
    font-size: 56px;
  }
}
@media (min-width: 1400px) {
  #hero .headline h1 {
    text-align: left;
  }
}
#hero .content {
  grid-area: content;
  text-align: center;
  /*hero section For tablet*/
}
@media (min-width: 768px) {
  #hero .content {
    text-align: left;
  }
}
#hero p {
  font-size: 18px;
  margin-bottom: 3rem;
}
#hero .buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 1400px) {
  #hero .buttons {
    flex-direction: row;
  }
}
#hero .discover-more {
  color: var(--color-gray900);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  font-size: small;
  /*hero section For tablet*/
  /*hero section For desktop*/
}
@media (min-width: 768px) {
  #hero .discover-more {
    justify-content: flex-start;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1400px) {
  #hero .discover-more {
    margin-top: 10rem;
  }
}
#hero .images {
  position: relative;
  grid-area: images;
  display: none;
  /*hero section For tablet*/
}
@media (min-width: 768px) {
  #hero .images {
    display: block;
  }
}
#hero .images .img-back {
  position: absolute;
  z-index: -10;
  bottom: 0;
  right: 100px;
  width: 70%;
  height: auto;
  /*hero section For desktop*/
}
@media (min-width: 1400px) {
  #hero .images .img-back {
    bottom: -100;
    width: auto;
    right: 230px;
  }
}
#hero .images .img-front {
  position: absolute;
  z-index: -5;
  bottom: 0;
  right: 0;
  width: 70%;
  height: auto;
  /*hero section For desktop*/
}
@media (min-width: 1400px) {
  #hero .images .img-front {
    bottom: -100;
    width: auto;
  }
}

/*Brands For mobile*/
#brands {
  display: none;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.brand-box {
  border: 1px solid var(--color-border-gray);
  border-radius: 8px;
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#featuers {
  padding-top: 1rem;
  padding-bottom: 2rem;
  /*App Featuer for tablet*/
  /*App Featuer for desktop*/
}
#featuers .container {
  gap: 0.5rem;
}
#featuers .container .images {
  display: none;
}
#featuers .container .content {
  text-align: center;
  height: 100px;
}
#featuers .container .wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  gap: 1rem;
  height: 150px;
  width: 400px;
}
#featuers .container .featuer-icon {
  display: grid;
  margin: 1rem;
  width: 100px;
  align-items: center;
  background-color: var(--color-bg-featuer-icon);
  border-radius: 1px solid var(--color-bg-featuer-icon);
}
#featuers .container .featuer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "wrapper" "featuer-icon";
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 100%;
  width: 400px;
}
#featuers .container .featuer .wrapper {
  justify-content: center;
  align-items: center;
  gap: rem;
}
#featuers .container .featuer-icon {
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem 1rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  #featuers .container {
    gap: 1rem;
    padding-bottom: 2rem;
  }
  #featuers .container .images {
    display: none;
  }
  #featuers .container .content {
    text-align: center;
    height: 100px;
    width: 700px;
  }
  #featuers .container .content .headline {
    font-size: 33px;
  }
  #featuers .container .wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    height: 100px;
    width: 400px;
  }
  #featuers .container .featuer-icon {
    margin: 1rem;
    padding: 1rem;
  }
  #featuers .container .featuer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "wrapper featuer-icon";
    justify-content: center;
    align-items: space-between;
    gap: 0;
    height: 100%;
    width: 700px;
  }
  #featuers .container .featuer .wrapper {
    grid-area: "wrapper";
    grid-template-columns: auto 1rf;
    justify-content: space-between;
    align-items: space-between;
    gap: 0.5rem;
  }
  #featuers .container .featuer .featuer-icon {
    grid-area: "featuer-icon";
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
}
@media (min-width: 1400px) {
  #featuers .container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "images" "app-featuer";
    gap: 2rem;
    padding-bottom: 2rem;
    height: 700px;
  }
  #featuers .container .content {
    text-align: left;
    height: 100px;
    width: 700px;
  }
  #featuers .container .content .headline {
    font-size: 40px;
  }
  #featuers .container .images {
    display: block;
    position: relative;
    grid-area: images;
    bottom: -100;
    width: auto;
  }
  #featuers .container .images .img-phon {
    position: absolute;
    height: auto;
  }
  #featuers .container .images .img-card {
    position: absolute;
    height: auto;
    padding-left: 30px;
    padding-top: 80px;
  }
}

#slider {
  background: rgb(99, 102, 241);
  background: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
  padding-top: 2rem;
  padding-bottom: 1rem;
  /*How does it work section tablet*/
  /*How does it work section Desktop*/
}
#slider .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#slider .container .images {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#slider .container .img-right {
  display: none;
}
#slider .container .img-left {
  display: none;
}
#slider .container .img-desktop {
  display: none;
}
#slider .tablet-text {
  display: none;
}
#slider .desktop-text {
  display: none;
}
@media (min-width: 768px) {
  #slider .images {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 400px;
  }
  #slider .images .img-right {
    display: block;
  }
  #slider .images .img-left {
    display: block;
  }
  #slider .tablet-text {
    display: block;
  }
  #slider .mobile-text {
    display: none;
  }
}
@media (min-width: 1400px) {
  #slider .images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 700px;
  }
  #slider .images .img-desktop {
    display: block;
  }
  #slider .images .img-right {
    display: none;
  }
  #slider .images .img-left {
    display: none;
  }
  #slider .images .img-iphone {
    display: none;
  }
  #slider .desktop-text {
    display: block;
  }
  #slider .tablet-text {
    display: none;
  }
  #slider .h2 {
    font-size: 40px;
  }
}

#featuer .container .contant {
  display: none;
}
#featuer .container .contant-1 {
  display: none;
}
#featuer .container .images {
  display: none;
}
#featuer .container .image {
  display: none;
}
#featuer .container .details {
  display: none;
}

#testimonials {
  background: rgb(99, 102, 241);
  background: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
}
#testimonials .container .headline {
  display: none;
}
#testimonials .container .girl-rating {
  display: none;
}
#testimonials .container .boy-rating {
  display: none;
}
@media (min-width: 1400px) {
  #testimonials .container .headline {
    display: block;
  }
  #testimonials .container .girl-rating {
    display: block;
  }
  #testimonials .container .boy-rating {
    display: block;
  }
  #testimonials .container {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    grid-template-areas: "headline" "girl-rating" "boy-rating";
    justify-content: space-between;
    align-items: start;
    margin-top: 2rem;
    padding-top: 2rem;
    gap: 2rem;
  }
  #testimonials .container .headline {
    font-size: 40px;
  }
  #testimonials .container .girl {
    position: relative;
  }
  #testimonials .container .girl .text {
    position: absolute;
    top: 70%;
    left: 4rem;
    transform: translateY(-50%);
    color: var(--color-gray);
    font-size: 18px;
    height: 100%;
    width: 300px;
  }
  #testimonials .container .boy {
    position: relative;
  }
  #testimonials .container .boy .text {
    position: absolute;
    top: 70%;
    left: 4rem;
    transform: translateY(-50%);
    color: var(--color-gray);
    font-size: 18px;
    height: 100%;
    width: 300px;
  }
}
#testimonials .girl-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
}
#testimonials .p {
  font-size: 14px;
  color: var(--color-gray700);
}
#testimonials .girl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
  padding: 1rem;
  width: 300px;
}
#testimonials .boy-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
}
#testimonials .boy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
  padding: 1rem;
  width: 300px;
}

#fqas {
  padding-top: 1rem;
  padding-bottom: 1rem;
  /*Tablet pages*/
  /*Desktop pages*/
}
#fqas .container .content {
  text-align: center;
  padding: var(--container-padding);
}
#fqas .container .que-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
#fqas .container .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  height: 100%;
}
#fqas .container .wrapper .icon-1 {
  display: none;
}
#fqas .container .wrapper .icon3 {
  display: none;
}
#fqas .container .wrapper .answer-3 {
  display: none;
}
#fqas .container .indicator {
  background-color: var(--color-primary);
  height: 35px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 15px;
  color: var(--color-white);
}
#fqas .container .indicator:hover {
  background-color: var(--color-gray);
  color: var(--color-white);
  text-decoration: none;
  cursor: pointer;
}
#fqas .container .que-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "text" "que-icon";
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 1rem;
  height: 100%;
  width: 100%;
}
#fqas .container .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#fqas .container .que-icon {
  display: grid;
  color: var(--color-dark);
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  width: 36px;
  height: 36px;
}
#fqas .container .btn-contact {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 8px;
  padding: 15px 25px;
  display: block;
  width: 175px;
  align-items: center;
}
#fqas .container .btn-contact:hover {
  background-color: var(--color-gray);
  color: var(--color-white);
  text-decoration: none;
}
#fqas .container .contact {
  display: none;
}
@media (min-width: 768px) {
  #fqas .container {
    display: flex;
    flex-direction: column;
  }
  #fqas .container .icon-3 {
    display: none;
  }
  #fqas .container .icon1 {
    display: none;
  }
  #fqas .container .answer-1 {
    display: none;
  }
  #fqas .container .btn-contact {
    display: none;
  }
  #fqas .container .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    height: 200px;
  }
  #fqas .container .que-wrapper .icon-1 {
    display: block;
  }
  #fqas .container .que-wrapper .icon3 {
    display: block;
  }
  #fqas .container .que-wrapper .answer-3 {
    display: block;
  }
  #fqas .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    height: 100%;
  }
  #fqas .icon3, #fqas .icon-1, #fqas .answer-3 {
    display: block;
  }
  #fqas .tel-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
  }
  #fqas .tel-contact span {
    color: var(--color-primary);
  }
  #fqas .sms-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
  }
  #fqas .sms-contact .green-text {
    color: #22C55E;
  }
}
@media (min-width: 1400px) {
  #fqas .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "content que-wrapper" "contact que-wrapper";
  }
  #fqas .container .content {
    grid-area: "content";
    text-align: start;
    margin-bottom: 2rem;
    height: 200px;
  }
  #fqas .container .contact {
    grid-area: "contact";
    margin-top: 2rem;
  }
  #fqas .container .que-wrapper {
    grid-area: "que-wrapper";
  }
  #fqas .container .contant + .contact {
    margin-top: 2rem;
  }
}

#subscribe {
  padding-top: 1rem;
  padding-bottom: 1rem;
  /*Subscribe section for Tablet*/
  /*Subscribe section for desktop*/
}
#subscribe .container .show {
  display: none;
}
#subscribe .container .notification {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  height: 100%;
  width: 350px;
}
#subscribe .container .email {
  display: flex;
  justify-content: right;
  align-items: right;
  gap: 0;
  padding: 0;
  height: 100%;
  width: 350px;
  border-radius: 0.5em;
}
#subscribe .container .email .mail {
  border-radius: 0.5em 0 0 0.5em;
}
#subscribe .container .email .btn-subscribe {
  border-radius: 0 0.5em 0.5em 0;
}
#subscribe .container .email {
  position: relative;
}
#subscribe .container .email .email-icon {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  color: var(--color-gray);
}
#subscribe .container .mail {
  border: 1px solid var(--color-gray);
  border-radius: 0.5em;
  padding-left: 3rem;
}
#subscribe .container .btn-subscribe {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-start-end-radius: 5px;
  padding: 10px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-text-decoration: center;
          text-decoration: center;
}
#subscribe .container .btn-subscribe:hover {
  background-color: var(--color-gray);
  color: var(--color-white);
  text-decoration: none;
}
@media (min-width: 768px) {
  #subscribe .container {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    padding: 5rem 1rem;
    gap: 1rem;
    height: 200px;
    width: 700px;
  }
}
@media (min-width: 1400px) {
  #subscribe .container {
    display: flex;
    flex-direction: row;
    justify-content: space-betweence;
    align-items: center;
    padding: 5rem 1rem;
    gap: 1rem;
    height: 400px;
    width: 1300px;
  }
  #subscribe .container .hide-text {
    display: none;
  }
  #subscribe .container .notification {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    height: 200px;
    width: 1000px;
  }
  #subscribe .container .notification .show {
    display: block;
    width: 400px;
    height: 70px;
  }
  #subscribe .container .email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 0;
    height: 100%;
    width: 350px;
    border-radius: 0.5em;
  }
  #subscribe .container .email .mail {
    border-radius: 0.5em 0 0 0.5em;
    height: 50px;
    width: 400px;
  }
  #subscribe .container .email .btn-subscribe {
    border-radius: 0 0.5em 0.5em 0;
    height: 50px;
  }
}

body {
  color: var(--color-gray900);
}

text {
  color: var(--color-gray700);
}

span {
  color: var(--color-gray900);
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
  padding: 12px 25px;
  margin-right: 0.5rem;
  transition: 0.25s;
  text-decoration: none !important;
}
.btn-primary:hover {
  background-color: var(--color-gray);
  color: var(--color-white);
  transition: 0.25s;
}
.btn-primary i {
  margin-right: 0.5rem;
}

.btn-download-app {
  background-color: var(--color-gray900);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 8px;
  padding: 12px 25px;
}
.btn-download-app:hover {
  background-color: var(--color-primary);
  color: var(--color-gray100);
  text-decoration: none;
}

.btn-toggle-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-toggle-switch .label {
  display: none;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}
.toggle-switch input {
  opacity: 0;
}
.toggle-switch input:checked + .slider {
  background-color: var(--color-primary);
}
.toggle-switch input:checked + .slider::before {
  transform: translateX(18px);
  background-color: var(--color-white);
}
.toggle-switch input:focus + .slider {
  box-shadow: 0 0 1px var(--color-primary);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray);
  transition: all 0.2s;
}
.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2.5px;
  background-color: var(--color-white);
  transition: all 0.2s;
}
.slider.round {
  border-radius: 35px;
}
.slider.round::before {
  border-radius: 50%;
}

.discover-more {
  color: var(--color-gray900);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  font-size: small;
}
@media (min-width: 768px) {
  .discover-more {
    justify-content: flex-start;
    margin-bottom: 2rem;
    font-size: medium;
  }
}
@media (min-width: 1400px) {
  .discover-more {
    margin-top: 10rem;
    font-size: 40px;
  }
}

.btn-mobile {
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

.btn-subscribe {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-start-end-radius: 5px;
  padding: 10px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.btn-subscribe:hover {
  background-color: var(--color-gray);
  color: var(--color-white);
  text-decoration: underline;
}
.btn-subscribe:active {
  text-decoration: underline;
}

.container {
  position: relative;
  width: 100%;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}

header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto auto;
  grid-template-areas: "logo sw mobile";
  gap: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
header .container .btn-toggle-switch .label {
  display: none;
}
header .container .navbar {
  display: none;
}
@media (min-width: 768px) {
  header .container .container {
    max-width: 720px;
  }
  header .container .btn-toggle-switch .label {
    display: block;
  }
  header .container header .container {
    gap: 2rem;
  }
}
@media (min-width: 1400px) {
  header .container {
    grid-template-columns: auto 1fr auto auto;
    gap: 3rem;
  }
  header .container .container {
    max-width: 1320px;
  }
  header .container .label {
    display: block;
    color: var(--color-gray800);
  }
  header .container .navbar {
    display: block;
    color: var(--color-gray800);
  }
  header .container #auth-signin {
    display: block;
  }
  header .container .btn-mobile {
    display: none;
  }
}

#brands {
  display: none;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  #brands {
    display: block;
  }
}
@media (min-width: 768px) {
  #brands .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #brands #brand-5, #brands #brand-6 {
    display: none;
  }
}
@media (min-width: 1400px) {
  #brands .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #brands #brand-5, #brands #brand-6 {
    display: flex;
  }
}

@media (min-width: 1400px) {
  #featuer {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  #featuer .container .contant {
    display: block;
  }
  #featuer .container .contant-1 {
    display: block;
  }
  #featuer .container .images {
    display: block;
  }
  #featuer .container .image {
    display: block;
  }
  #featuer .container .money {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
  }
  #featuer .container .text {
    margin-bottom: 1rem;
  }
  #featuer .container .text span {
    color: var(--color-gray700);
  }
  #featuer .container .btn-cheked {
    color: var(--color-primary);
    padding: 0.5rem;
  }
  #featuer .container .btn {
    padding: 0.5rem;
  }
  #featuer .container .images {
    display: block;
    position: relative;
    grid-area: images;
    bottom: -100;
    width: auto;
  }
  #featuer .container .images .back {
    position: absolute;
    height: auto;
  }
  #featuer .container .images .front {
    position: absolute;
    height: auto;
    padding-left: 200px;
    padding-top: 50%;
  }
  #featuer .container .contant {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "money images";
    justify-content: space-evenly;
    align-items: start;
    padding: 1rem;
    margin: 1rem;
    gap: 1rem;
    height: 500px;
  }
  #featuer .container .image {
    display: block;
    position: relative;
    grid-area: images;
    bottom: -100;
    width: auto;
  }
  #featuer .container .image .back {
    position: absolute;
    height: auto;
  }
  #featuer .container .image .front {
    position: absolute;
    height: auto;
    padding-left: 130px;
    padding-top: 120px;
  }
  #featuer .container .content-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "images details";
    justify-content: space-evenly;
    align-items: start;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    height: 500px;
  }
  #featuer .container .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
    width: 500px;
  }
  #featuer .container .details .headline {
    padding: 1rem;
    width: 400px;
  }
  #featuer .container .box-learn-more {
    display: grid;
    grid-template-columns: 1rf;
    grid-template-areas: "learn-more learn-more1";
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
    height: 100%;
  }
  #featuer .container .learn-more {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 1rem;
    gap: 2rem;
    width: 250px;
  }
  #featuer .container .learn-more1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 1rem;
    gap: 1rem;
    width: 250px;
  }
}

h1 {
  color: var(--color-gray900);
}

h2 {
  color: var(--color-gray900);
}

h3 {
  color: var(--color-gray900);
}

h4 {
  color: var(--color-gray900);
}

h5 {
  color: var(--color-gray900);
}

h6 {
  color: var(--color-gray900);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.4;
}

a {
  color: var(--color-primary);
}
a:hover {
  color: var(--color-primary);
}

.nav-link {
  color: var(--color-gray900);
}
.nav-link:hover .nav-link:active {
  color: var(--color-primary);
}

@media (min-width: 1400px) {
  .btn-toggle-switch .label {
    display: block;
  }
}

#auth-signin {
  display: none;
}
@media (min-width: 1400px) {
  #auth-signin {
    display: block;
  }
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

footer {
  color: var(--color-gray);
  text-align: center;
}
footer tablet .credit {
  display: block;
}/*# sourceMappingURL=theme.css.map */