a {
    color: var(--color-primary);

    &:hover {
        color: var(--color-primary);
    }
    
}
.nav-link {
    color: var(--color-gray900);
    
    &:hover &:active {
        color: var(--color-primary);
    }
}
.btn-toggle-switch .label{
    @media (min-width: 1400px) {
        display: block;
    }
}
#auth-signin {
    display: none;
    
    @media (min-width: 1400px) {
        display: block;
    }
}